<div class="textOfertas">
  <p class="text">
   OFERTAS
  </p>
 </div>

  <div class="cardsFotos">
     <div class="card1 cards">
       <img src="../../assets/fotos/s23_ultra.jpg" alt="" class="imageCard">
       <div class="rodape">
         <p class="nomeProduto">S23 ULTRA</p>
         <p class="gigas">512 GB</p>

       </div>
     </div>

     <div class="card2 cards">
       <img src="../assets/fotos/S22.jpg" alt="" class="imageCard">
       <div class="rodape">
         <div class="produtos">
             <p class="nomeProduto">S22 ULTRA</p>
             <p class="gigas">256 GB</p>
         </div>
       </div>
     </div>

     <div class="card3 cards">
       <img src="../assets/fotos/iphone_xr.jpg" alt="" class="imageCard">
       <div class="rodape">
         <p class="nomeProduto">IPHONE XR</p>
         <p class="gigas">128 GB</p>
       </div>
     </div>

     <div class="card4 cards">
       <img src="../assets/fotos/IPHONE12.jpeg" alt="" class="imageCard">
       <div class="rodape">
         <p class="nomeProduto">IPHONE 12</p>
         <p class="gigas">64 GB</p>
       </div>
     </div>

     <div class="card5 cards">
       <img src="../assets/fotos/Motorola-Moto-G80.jpg" alt="" class="imageCard">

       <div class="rodape">
         <p class="nomeProduto">MOTOROLA G40</p>
         <p class="gigas">128 GB</p>
       </div>
     </div>
  </div>
