  <div class="boxTitulo">
    <div class="logo">
       <img class="imagemT"src="../assets/fotos/tecnologia.png" alt="">
       <h1 class="titulo">Asciutech</h1>
    </div>

      <nav class="navegation">
        <a routerLink="/home" routerLinkActive="active">Home</a>
        <a routerLink="/ofertas" routerLinkActive="active">Ofertas</a>
        <a routerLink="/dropdown" routerLinkActive="active">Consultar valores</a>
        <a routerLink="/contato" routerLinkActive="active">Contato </a>
      </nav>
    </div>

<section class="router-outlet">
  <router-outlet></router-outlet>
</section>

<footer>Asciutech ©</footer>

