.textDestaques{
  width: 100%;
  height: 30px;
  background-color: rgba(4,1,60,1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  text-shadow: 1px 1px 0 #797777;
  padding-top: 2%;
  margin-bottom: 15%;
  }

  .text{
  color: white;
  font-weight: bold;
  }

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.img1,.img2,.img3{
  width: 400px;
  height: 400px;
}
.card1, .card2, .card3{
  margin-bottom: 10%;
  border-radius: 10% 10% 0% 0%;
  box-shadow: 0 8px 6px -6px black;
}




